*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.swp
.DS_Store
Thumbs.db

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

!**/src/main/**/build/
!**/src/test/**/build/

target/
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
*.ipr
*.iws
out/

.settings/
.project
.classpath
.factorypath
.springBeans
.sts4-cache
.apt_generated
bin/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

/history/
/log/

dependency-reduced-pom.xml
build.log

*.liquibase

*.h2.db

*.orig
*~
*.bak

/reports/
/test-output/
/coverage/

application.properties
application.yml

*.versionsBackup